.certification-section {
  background-color: rgba(42, 178, 171, 0.341);
  border-radius: 10px;
}

.certification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.certification-wrapper h1{
    font-size: 3.5em;
}




