.certification-section {
  background-color: rgba(190, 245, 190, 0.901);
  border-radius: 10px;
}

.certification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.certification-wrapper h1{
    font-size: 3.5em;
}

.card img {
  color: darkgreen;
}

.card h3 {
  font-weight: 800;
  font-size: 1.7em;
}
