body {
  margin: 0;
  padding: 0;
  max-width: 475px;
}

.header-section {
  width: 100%;
  /* background-color: lightpink; */
}

header {
  position: relative;
  height: 100vh;
  background-image: url("../images/Professional\ headshot.png");
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: cover;
  
}

/*  overlay */
.top-layer{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(255, 228, 196, 0.47);
}

/* Nav list styles below */
.nav-logo-list {
  background-color: #90ee90;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.nav-list li {
  margin-right: 40%;
}
/* ............................. */

/* Start of Hero Block */

.hero-block {
  position: absolute;
  width: 80%;
  left: 5em;
  top: 20em;
}

.my-name {
  color: darkslategray;
  font-size: 4em;
  font-family: "Open Sans", sans-serif;
}

.intro-paragraph {
  color: lightseagreen;
  text-align: left;
  font-size: 1.2em;
}

/* Move universal cards here to shorten code */
.card {
  padding: 10px;
  text-align: center;
}

.card h3 {
  font-weight: 800;
  font-size: 1.5em;
}

.card p{
  font-size: 1.5em
}